// Header por volta de tudo
.headerContainer{
    height:5rem;
    border-bottom: 1px solid var(--gray-800);
}

// div que fica centralizada com largura máxima
.headerContent{
    max-width: 1128px;
    height: 5rem;
    margin: 0 auto; // Alinha centro horizontalmente
    padding: 0 2rem; // 2rem nas laterais

    display: flex;
    align-items: center;

    nav{
        margin-left: 5rem;
        height: 5rem; // Fica melhor pra posicionar o tracinho

        a{
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            line-height: 5rem; // Com line-height do mesmo tamnho do height mantém no meio;
            color: var(--gray-300);

            transition: color 0.2s;

            &:hover{
                color: var(--white);
            }

            & + a {
                margin-left: 2rem;
            }
            
            &.active{
                color: var(--white);
                font-weight: bold;
            }

            &.active::after {
                content: '';
                height: 3px;
                border-radius: 3px 3px 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
                background: var(--yellow-500);
            }
        }

        
    }

    > button{
        margin-left: auto;
    }
}